<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OpenBeer DB | Beers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <style type="text/css">
      html {overflow-y: scroll; height: 100%;}
    </style>
  </head>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/i18n/angular-locale_fr-fr.js"></script>
  <script type="text/javascript" src="./beers.js"></script>  
  <body ng-app="app" ng-controller="controller">
    <header>
      <div class="navbar navbar-default navbar-custom navbar-static-top">
        <div class="container">
          <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./index.html">OpenBeer DB</a>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-center">
              <li class=""><a href="breweries.html">Édition des brasseries</a></li>
              <li class="active"><a href="beers.html">Édition des bières</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <section id="search" class="col-md-6">
        <form class="form" role="form" name="form" ng-if="selected">
          <fieldset>
          <legend ng-if="creating">Édition d'une nouvelle bière</legend>
          <legend ng-if="updating">Édition de la bière #{{beer.id}}</legend>
            <div class="form-group">
              <label for="beer.name">Nom de la bière</label>
              <input type="text" id="beer.name" class="form-control" ng-model="beer.name" placeholder="Nom" required ng-required="true" />
            </div>
            <div class="form-group">
              <label for="beer.brewery">Brasserie</label>
              <select id="beer.brewery" class="form-control" ng-model="beer.brewery" placeholder="Brasserie" required ng-required="true" ng-change="setBrewery(beer.brewery)" ng-options="brewery as brewery.name for brewery in breweries track by brewery.id">
              </select>
            </div>
            <div class="form-group">
              <label for="beer.abv">Degré d'alcool</label>
              <input type="number" min="0.00" max="20.00" step="0.01" id="beer.abv" class="form-control" ng-model="beer.abv" placeholder="Degré d'alcool" required ng-required="true" />
            </div>
            <div class="form-group pull-right">
               <button type="reset" class="btn btn-default" ng-click="clean()"><strong>Annuler</strong></button>
               <button type="submit" class="btn btn-danger" ng-click="form.$valid && remove()" ng-disabled="form.$invalid" ng-if="updating"><strong>Supprimer</strong></button>
               <button type="submit" class="btn" ng-click="form.$valid && update()" ng-disabled="form.$invalid" ng-if="updating"><strong>Modifier</strong></button>
               <button type="submit" class="btn" ng-click="form.$valid && create()" ng-disabled="form.$invalid" ng-if="creating"><strong>Ajouter</strong></button>
             </div>
          </fieldset>
        </form>
      </section>
      <section id="results" class="col-md-6">
        <h2>Bières <small>({{size}} éléments)</small></h2>
        <nav aria-label="...">
          <ul class="pager">
            <li class="previous"><a class="btn btn-default" ng-click="first()"><span aria-hidden="true" class="glyphicon glyphicon-step-backward"></span> </a></li>
            <li class="previous"><a class="btn btn-default" ng-click="prev()"><span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span></a></li>
            <li ng-if="size > 0">{{(offset / length) + 1 | ceil}} / {{size / length | ceil}}</li>
            <li class="next"><a class="btn btn-default" ng-click="last()"><span aria-hidden="true" class="glyphicon glyphicon-step-forward"></span></a></li>
            <li class="next"><a class="btn btn-default" ng-click="next()"><span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a></li>
          </ul>
        </nav>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="beer in beers">
            <span class="badge">{{beer.abv}}</span>
            <p class="list-group-item-heading">#{{beer.id}} {{beer.name}}</p>
            <p class="list-group-item-text">#{{beer.brewery.id}} {{beer.brewery.name}}</p>
            <p class="list-group-item-text"><span ng-if="beer.brewery.address">{{beer.brewery.address}}, </span>{{beer.brewery.city}}, {{beer.brewery.country}}</p>
            <p class="list-group-item-text text-right">
              <button type="button" class="btn btn-default" ng-click="select(beer)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
            </p>
          </li>
        </ul>
        <div class="">
          <button type="button" class="btn btn-info pull-right" ng-click="select()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        </div>
      </section>
    </div>
    <footer class="footer">
      <br/>
    </footer>
  </body>
</html>
