<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OpenBeer DB | Styles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <style type="text/css">
      html {overflow-y: scroll; height: 100%;}
    </style>
  </head>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/i18n/angular-locale_fr-fr.js"></script>
  <script type="text/javascript" src="./styles.js"></script>  
  <body ng-app="app" ng-controller="controller">
    <header>
      <div class="navbar navbar-default navbar-custom navbar-static-top">
        <div class="container">
          <a class="navbar-brand" href="./index.html">OpenBeer DB</a>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>Édition</strong> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class=""><a href="./breweries.html">Édition des brasseries</a></li>
                  <li class=""><a href="./styles.html">Édition des styles de bière</a></li>
                  <li class=""><a href="./beers.html">Édition des bières</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class="container ng-cloak">
      <section id="search" class="col-md-6">
        <form class="form ng-cloak" role="form" name="form" ng-show="selected">
          <fieldset>
          <legend ng-show="creating">Édition d'un nouveau style de bière</legend>
          <legend ng-show="updating">Édition du style de bière #{{style.id}}</legend>
            <div class="form-group">
              <label for="style.name">Nom de la bière</label>
              <input type="text" id="style.name" class="form-control" ng-model="style.name" placeholder="Nom" required ng-required="true" />
            </div>
            <div class="form-group">
              <label for="style.category">Style parent</label>
              <select id="style.category" class="form-control" ng-model="style.category" placeholder="Catégorie" required ng-required="true" ng-change="category(style.category)" ng-options="style as style.name for style in styles track by style.id">
              </select>
            </div>
            <div class="form-group pull-right">
               <button type="reset" class="btn btn-default" ng-click="clean()"><strong>Annuler</strong></button>
               <button type="submit" class="btn btn-danger" ng-click="form.$valid && remove()" ng-disabled="form.$invalid" ng-show="updating"><strong>Supprimer</strong></button>
               <button type="submit" class="btn" ng-click="form.$valid && update()" ng-disabled="form.$invalid" ng-show="updating"><strong>Modifier</strong></button>
               <button type="submit" class="btn" ng-click="form.$valid && create()" ng-disabled="form.$invalid" ng-show="creating"><strong>Ajouter</strong></button>
             </div>
          </fieldset>
        </form>
      </section>
      <section id="results" class="col-md-6">
        <h2>Styles de bière <small>({{size}} éléments)</small></h2>
        <nav aria-label="...">
          <ul class="pager">
            <li class="previous"><a class="btn btn-default" ng-click="first()"><span aria-hidden="true" class="glyphicon glyphicon-step-backward"></span> </a></li>
            <li class="previous"><a class="btn btn-default" ng-click="prev()"><span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span></a></li>
            <li ng-show="size > 0">{{(offset / length) + 1 | ceil}} / {{size / length | ceil}}</li>
            <li class="next"><a class="btn btn-default" ng-click="last()"><span aria-hidden="true" class="glyphicon glyphicon-step-forward"></span></a></li>
            <li class="next"><a class="btn btn-default" ng-click="next()"><span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a></li>
          </ul>
        </nav>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="style in styles">
            <p class="list-group-item-heading">#{{style.id}} {{style.name}}</p>
            <p class="list-group-item-text" ng-show="style.category">catégorie&nbsp;: #{{style.category.id}} {{style.category.name}}</p>
            <p class="list-group-item-text text-right">
              <button type="button" class="btn btn-default" ng-click="select(style)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
            </p>
          </li>
        </ul>
        <div class="">
          <button type="button" class="btn btn-info pull-right" ng-click="select()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        </div>
      </section>
    </div>
    <footer class="footer">
      <br/>
    </footer>
  </body>
</html>
